<div class="container mt-4">
  @if (cargando()) {
    <div class="text-center my-5">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
    </div>
  } @else { 
   <!-- <h2 class="mb-4 text-primary">{{ nombreExamen() }}</h2>-->
    
    @for (pregunta of preguntas(); track pregunta.globalId) {
      <div class="card mb-3 shadow-sm">
        <div class="card-body">
          <h6 class="fw-bold">{{ pregunta.globalId }}. {{ pregunta.pregunta }}</h6>

          @for (opcion of pregunta.opciones; track $index) {
            <div class="form-check my-2">
              <input
                class="form-check-input"
                type="radio"
                [id]="'opcion-' + pregunta.globalId + '-' + $index"
                [name]="'pregunta-' + pregunta.globalId"
                [value]="$index"
                (change)="responder(pregunta.globalId, $index)"
              />
              <label
                class="form-check-label"
                [for]="'opcion-' + pregunta.globalId + '-' + $index"
                [class.text-success]="respuestas.has(pregunta.globalId) && pregunta.respuestaCorrecta === $index"
                [class.text-danger]="respuestas.get(pregunta.globalId) === $index && esCorrecta(pregunta.globalId) === false"
              >
                {{ opcion }}
              </label>
            </div>
          } 
          
          @if (esCorrecta(pregunta.globalId) === true) {
            <p class="text-success mt-3 fw-bold">✅ {{ pregunta.explicacion }}</p>
          } @else if (esCorrecta(pregunta.globalId) === false) {
            <p class="text-danger mt-3 fw-bold">❌ Incorrecta.</p>
          }
        </div>
      </div>
    } 
  }
</div>